.searchCountry {
  display: flex;
  column-gap: 10px;

  .inputValue {
    position: relative;

    input {
      height: 40px;
      padding: 5px 25px 5px 10px;
    }

    .deleteValue {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translate(0px, -50%);
      cursor: pointer;
    }
  }

  .acceptValue {

  }
}