.time_widget_body{
    box-sizing: border-box;
    height: 100%;
    width: max-content;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 3px double #00b7ff;
    padding: 3px;
    text-align: center;
    border-radius: 10px;
}

.time_widget_body .time{
    font-size: 20px;
    font-weight: bold;
}