.header {
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  padding: 10px 5px;
  background-color: rgba(27, 27, 27, 0.7);
  z-index: 10;
}

.selectItem {
  text-align: right;
}

.logoAndLang {
  justify-content: space-around;
  align-items: center;
  text-align: center;
}