.Header {
  height: 10%;
  background-color: rgb(5, 73, 112);
  display: flex;
  justify-content: space-around;
  align-items: center;
  &__language-selector {
    width: 100px;
    .MuiFormLabel-root {
      color: white;
    }
  }
}
