.card {
  margin: 0 auto;
  position: relative;
  transition: 1s !important;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 0 3px 3px #515151;
  }

  .avatar {
    background-color: rgb(250, 0, 0);
  }

  .countryImage {
    height: 200px;
  }

  .description{
    max-height: 100px;
    overflow: hidden;
    position: relative;
    margin: 0;
  }

  .ellipses {
    font-size: 30px;
    top: -10px;
    position: relative;
  }
}
