.card {
  margin: 0 auto;

  .avatar {
    background-color: rgb(250, 0, 0);
  }

  .countryImage {
    height: 200px;
  }

  .description{
    max-height: 100px;
    overflow: hidden;
    position: relative;
    margin: 0;
  }

  .ellipses {
    font-size: 30px;
    top: -10px;
    position: relative;
  }
}
