.Login {
  margin: 200px auto;
  text-align: center;
  background-color: white;
  width: 280px;
  padding: 20px;

  form{
    display: flex;
    flex-direction: column;
    row-gap: 30px;

    input{
      height: 50px;
      width: 250px;
      border-radius: 10px;
      outline: none;
    }
  }
}
